{% extends "base.html" %}
{% block content %}
    {% if current_user.is_authenticated %}
    <h3>Писем пока нет</h3>
    {% for item in letters %}
        <a href="/letters/{{item.id}}">{{item.topic}}</a>
        <br>
    {% endfor %}
<form action="" method="post">
            {{ form.hidden_tag() }}
            <p>{{ form.new_l(type="submit", class="btn btn-primary") }}</p>
        </form>
{% else %}
    <h3> Добро пожаловать <br> на сайт Mailworld!</h3>
    <img src="static/img/Family.png" align="right" width="250" height="250" />
    Здесь вы найдете все необходимое <br> для удобной и
    безопасной коммуникации <br> с вашими друзьями,семьей и коллегами.
    <br>
    <br>
    <h5> Защищённость </h5>
    Наш сервис предлагает надежную защиту вашей переписки <br> и легкий доступ
    к вашим сообщениям в любое время и из любой точки мира.
{% endif %}
{% endblock %}