{% extends "base.html" %}
{% block content %}
    {% if current_user.is_authenticated %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.who.label }}<br>
            {{ form.who(class="form-control", type="who") }}<br>
            {% for error in form.who.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            {{ form.theme.label }}<br>
            {{ form.theme(class="form-control", type="theme") }}<br>
            {% for error in form.theme.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            {{ form.message.label }}<br>
            {{ form.message(class="form-control", type="message") }}<br>
            {% for error in form.message.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        <div>{{message}}</div>
    </form>
{% else %}
    <h3> Добро пожаловать <br> на сайт Mailworld!</h3>
    <img src="static/img/Family.png" align="right" width="250" height="250" />
    Здесь вы найдете все необходимое <br> для удобной и
    безопасной коммуникации <br> с вашими друзьями,семьей и коллегами.
    <br>
    <br>
    <h5> Защищённость </h5>
    Наш сервис предлагает надежную защиту вашей переписки <br> и легкий доступ
    к вашим сообщениям в любое время и из любой точки мира.
{% endif %}
{% endblock %}