{% extends "base.html" %}

{% block content %}
    {% if current_user.is_authenticated %}
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.name.label }}<br>
                {{ form.name(class="form-control") }}<br>
                {% for error in form.name.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
            </p>
            <p>
                {{ form.surname.label }}<br>
                {{ form.surname(class="form-control") }}<br>
                {% for error in form.surname.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
                {% endfor %}
            </p>
            <p>
                {{ form.tg_id.label }}<br>
                {{ form.tg_id(class="form-control") }}<br>
                {% for error in form.tg_id.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
                {% endfor %}
            </p>
            <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
            {{message}}
        </form>
    {% else %}
        <head>
            <meta http-equiv="refresh" content="0.001; url=/">
        </head>
    {% endif %}
{% endblock %}